@model TMS.Models.Product
@using TMS.Web.Authorization

@{
    ViewData["Title"] = "Tanks Configuration";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<head>
    @section Scripts{
        <script type="text/javascript" asp-append-version="true">
            // ? Check if current user can modify data (admin only)
            var canModifyData = @Json.Serialize(User.CanModifyData());

            var oTable;
            // ? SAFEGUARD: Use jQuery(document).ready(function($) {}) pattern
            jQuery(document).ready(function ($) {
                oTable= $('#tb-tank').DataTable(
                    {
                        "serverSide": true, // for process server side
                        "scrollY": true,
                        "scrollX": true,
                        "autoWidth": false,
                        "scrollCollapse": true,
                        "paging": true,
                        "fixedColumns": true,
                        "processing": true,
                        "pageLength": 50,
                        "ajax": {
                            "url": "@Url.Action("LoadData")",
                            "type": "POST",
                            "datatype": "json",
                            "dataSrc": function (json) {
                                if (json.data && json.data.length > 0) {
                                    console.log("Tank LoadData - First row keys:", Object.keys(json.data[0]));
                                }
                                return json.data;
                            }
                        },
                        "order": [[2, 'asc']],
                        "columnDefs": [{
                            "targets": 0,
                            "visible": false,
                            "searchable": false
                        },
                        { "targets": '_all', orderable: false}],
                        "columns": [
                            { "data": "Tank_Name", "name": "Tank_Name", "autoWidth": true },
                            {
                                data: null,
                                render: function (data, type, full, meta) {
                                    var edit = canModifyData ? "<button type='button' class='btn btn-warning'onclick=UpdateData('" + full.Tank_Name + "');><i class='fas fa-edit fa-lg'></i> Edit</button> " : "";
                                    var dlete = canModifyData ? "<button type='button' class='btn btn-danger' onclick=DeleteData('" + full.Tank_Name + "');><i class='fas fa-trash-alt'></i>Delete</button>" : "";
                                    return edit + dlete;
                                }
                            },
                            { "data": "Tank_Name", "name": "Tank_Name", "autoWidth": true },
                            { "data": "Product_Name", "name": "Product_Name", "autoWidth": true },
                            { "data": "TankVolume", "name": "TankVolume", "autoWidth": true },
                            { "data": "Tank_Height", "name": "Tank_Height", "autoWidth": true },
                            { "data": "Tank_Diameter", "name": "Tank_Diameter", "autoWidth": true },
                            { "data": "Tape", "name": "Tape", "autoWidth": true },
                            { "data": "Bob", "name": "Bob", "autoWidth": true },
                            { "data": "Blank", "name": "Blank", "autoWidth": true },
                            // { "data": "IsUsed", "name": "IsUsed", "autoWidth": true },
                            // { "data": "IsAutoPI", "name": "IsAutoPI", "autoWidth": true },
                            //{ "data": "IsManualLevel", "name": "IsManualLevel", "autoWidth": true },
                            //{ "data": "ManualLevel", "name": "ManualLevel", "autoWidth": true },
                            { "data": "IsManualWaterLevel", "name": "IsManualWaterLevel", "autoWidth": true },
                            //{ "data": "ManualWaterLevel", "name": "ManualWaterLevel", "autoWidth": true },
                            { "data": "IsManualDensity", "name": "IsManualDensity", "autoWidth": true },
                            //{ "data": "ManualLabDensity", "name": "ManualLabDensity", "autoWidth": true },
                            { "data": "IsManualTemp", "name": "IsManualTemp", "autoWidth": true },
                            //{ "data": "ManualTemp", "name": "ManualTemp", "autoWidth": true },
                            { "data": "IsManualTestTemp", "name": "IsManualTestTemp", "autoWidth": true },
                            //{ "data": "ManualTestTemp", "name": "ManualTestTemp", "autoWidth": true },


                        ]
                    }
                );
            });//end document ready
            //update data
            function UpdateData(tankId) {
                var toSend =
                {
                    id: tankId
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("AddOrEdit")",
                    data: toSend,
                    success: function (res) {
                        $("#form-modal .modal-body").html(res);
                        $("#form-modal").modal('show');
                    },
                    error: function (res) {
                    }
                })
            }
            //start delete data
            function DeleteData(tankId) {
                if (confirm('Are you sure want to delete this data ?')) {
                    var toSend =
                    {
                        id: tankId
                    };
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        data: toSend,
                        success: function (res) {
                            oTable = $('#tb-tank').DataTable();
                            oTable.ajax.reload(null, false);
                        },
                        error: function (err) {
                        }
                    })
                }
            }

            //reload data
            function reloadTable() {
                oTable.ajax.reload(null, false);
            }
        </script>
    }
</head>

    <!-- Begin Page Content -->
    <div class="container-fluid" style="width: 100%;">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tank Configuration</h1>
        <a value="reload" onclick="reloadTable()" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                <i class="fas fa-redo-alt"></i>
            </a>
        </div>

        <!-- Submain Content -->
        <div class="card shadow-lg rounded" style="font-size:12px;">
            <div class="card-header bg-gradient-info"></div>
            <div class="card-body">

                <!-- Tank Filter -->
                <form>
                    <div class="form-row">
                        <div class="col col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Tank-Name">Tank Name</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Insert Tank Number" aria-label="Tank-name" id="tank-name" aria-describedby="Tank-name">
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="input-group">
                                <button type="reset" class="btn btn-warning" style="width: 100%;" onclick="javascript:reset();"><i class="fas fa-undo-alt"></i> Reset Filter</button>
                            </div>
                        </div>
                        @* ? Only admins can create *@
                        @if (User.CanModifyData())
                        {
                            <div class="col col-md-3">
                                <div class="input-group">
                                    <button type="button" class="btn btn-primary" style="width: 100%;" onclick="showInPopup('@Url.Action("AddOrEdit","Tanks",null,Context.Request.Scheme)','Add New Tank')"><i class="fas fa-plus"></i> New</button>
                                </div>
                            </div>
                        }
                    </div>
                </form>
                <!-- End Tank Filter -->
                <!-- Divider -->
                <hr class="sidebar-divider my-3">

                <!-- Tank Table -->
                @await Html.PartialAsync("_ViewAll", Model)
                <!-- End Tank table -->

            </div>
        </div>
        <!-- End Submain Content -->

    </div>
    <!-- End Page Content -->
